if TARGET_NANOPI_ZERO2

config SYS_BOARD
	default "nanopi_zero2"

config SYS_VENDOR
	default "rockchip"

config SYS_CONFIG_NAME
	default "nanopi_zero2"

config BOARD_SPECIFIC_OPTIONS
	def_bool y

endif
